.list-group-item {
  line-height: 2.5;
}
.bg-dark {
  background-color: #35acbd !important;

}
nav a {
  color: white;
}
.link{
  position: absolute;
    left: 854px;
    top: 20px;
    color: aliceblue !important;
}
.headTitle {
  color: white;
  font-family: "Playfair Display", serif;
}
.wrapper1{
  width: 647px;
  height: 50px;
  background-color: #b2d0a1;
  position: absolute;
  top: 136px;
  left: 220px;
  opacity: 0.6;
}
.searchBox {
  
  width: 550px;
  position: absolute;
  right: 270px;
  top: 142px;
}

.searchBut {
  right: -70px;
  position: absolute;
  top: -1px;
  background-color: #425de6!important;
}

.worldimg {
  width: 100%;
  height: 600px;
  color: rgb(52, 58, 64);
  background-image: url(../images/Unique_World_Map_d.jpg);
  /* opacity: 0.6; */
  background-repeat: no-repeat;
  background-position: center center, left top;
}

.inner-box {
  width: 50%;
  height: 400px;
  position: absolute;
  left: 261px;
  top: 135px;
  background-color: #35acbd;
}
h6 {
  font-weight: bold;
  color: white;
  margin: 20px;
}
p {
  color: white;
  margin: 20px;
}

footer {
  background-color: #35acbd !important;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: 8px;
  font-family: "Playfair Display", serif;
}


@media (max-width: 979px){
.headTitle {
    width: 200px;
    float: right;
}
}